<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>해군</title>
</head>
<body>
  팝업을 허용하새요
</body>
<script th:inline="javascript"> 
window.addEventListener('DOMContentLoaded', function(){
	window.close();
	
});
</script>
</html>
