<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{th/cmmn/layout}">
<head>
<title>선박메인화면</title>
</head>
<th:block layout:fragment="content">
<div class="container-wide">
	<div class="container">
		<div class="grid-row">
			<div class="item-box col-20">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_02"></span><strong>위협 탐지</strong></h4>
					<div class="items"> <!-- item contnets // --><div class="dataNum ac threatDetect"></div><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-20">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_03"></span><strong>화이트리스트 기반 탐지</strong>
					<a href="javascript:popWhiteList();" class="iconWrapB setting icon_setting">설정</a></h4>
					<div class="items"> <!-- item contnets // --><div class="dataNum ac whiteDetect"></div><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-20">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_04"></span><strong>방화벽 위협 탐지</strong>
					</h4>
					<div class="items"> <!-- item contnets // --><div class="dataNum ac aiDetect"></div><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-20">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_05"></span><strong>IPS 위협 탐지</strong></h4>
					<div class="items"> <!-- item contnets // --><div class="dataNum ac signatureDetect"></div><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-20">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_06"></span><strong>위협 중요도</strong></h4>
					<div class="items"> 
						<!-- item contnets // -->
						<div class="threatImportance ac">
						    <ul>
							<!-- <ul style="display:flex; align-content:flex-start; flex-direction:column; flex-wrap:wrap;"> -->
								<li class="high"><span>상</span><strong></strong></li>
								<li class="middle"><span>중</span><strong></strong></li>
								<li class="low"><span>하</span><strong></strong></li>
							</ul>
						</div>
						<!-- // item contnets -->
					</div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-6">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_07"></span><strong>정책별 위협 발생 현황</strong></h4>
				     <div class="items"> 
					<span class="imgWrap"><canvas id="lineChart1" width="528" height="270"></canvas></span>
					</div>
				</div>
			</div>
			<!-- <div class="item-box col-4">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_08"></span><strong>장비별 위협 발생 현황</strong></h4>
					<div class="items"> item contnets //
					<span class="imgWrap"><canvas id="lineChart2" width="528" height="270"></canvas></span>// item contnets 
					</div>
				</div>
			</div> -->
			<div class="item-box col-6">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_09"></span><strong>위성 데이터 전송 속도(BPS)</strong>
					<a th:if="${activeProfile.equals('hmmNavy')|| activeProfile.equals('navy') || activeProfile.equals('lnsystemHmmNavy') || activeProfile.equals('lnsystemNavy') || activeProfile.equals('local')}" href="javascript:popDataTransConfig();" class="iconWrapB setting icon_setting">설정</a></h4>
					<div class="items"> <!-- item contnets // -->
					<span class="imgWrap"><canvas id="lineChart3" width="528" height="270"></canvas></span><!-- // item contnets --> 
					</div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-12">
				<div class="inner">
					<div class="items"  style="float:right">
						<div class="schwrap">
								<button class="btn medium darkblue initBtn">
									<span class="iconBtn icon_reset"></span><strong>초기화</strong>
								</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-12">
				<div class="inner">
					<h4 class="item-title"><span class="iconWrapB icon_11_10"></span><strong>위협 발생 목록</strong></h4>
					<div class="items"> 
						<div class="tablewrap">
							<table>
								<thead class="tHead">
								</thead>
								<tbody class="tBody">
								</tbody>
							</table>
						</div>
						<div class="page_wrap">
							<div class="page_nation"> 
								<input type="hidden" name="rowPerPage" class="rowPerPage" value="10">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--//Grid--> 
	</div>
</div>

<script th:inline="javascript"> 
	window.addEventListener('DOMContentLoaded', () => {
		drawDataTrans();
		setInterval(drawDataTrans, ncos.intervalTrans);//1초
		ncos.schMode = 'auto';
		init();
		initWhiteList();
		ncos.intervalFunc = setInterval(searchFunc, ncos.interval);//5초
		document.querySelector('.initBtn').addEventListener('click',e => {
			e.preventDefault();
			ncos.initBtn = true;
			searchFunc();
			ncos.intervalFunc = setInterval(searchFunc, ncos.interval);//50초
	    });	    
		   
	});
	let lineChart1 = null;
    let lineChart2 = null;
    let lineChart3 = null;
    let legendOption = {usePointStyle: true,
          	           color: 'black',
          	           padding : 30,   
                       font: {size: 12,}
	};
    //
    const init = () => {
    	uiMode = gfn_getStorage(ncos.uiMode);
    	let tablewrap = document.querySelector('.tablewrap');
    	console.log("uiMode:",uiMode);
        if(uiMode != 'white'){
        	legendOption.color = 'white';
        }
       	const headColumns = [{data_id:"id",label:"id",width:"0px"}
					        ,{data_id:"detectionTime",label:"탐지시간" ,data_dateFrmt:"yy-mm-dd hh:mi:ss"}
					        ,{data_id:"unitId",label:"회사명", data_grpCd:"COUT"}
					        ,{data_id:"shipId",label:"선박명", data_grpCd:"COSH"}
					        ,{data_id:"srcIp",label:"송신IP"}
					        ,{data_id:"dstIp",label:"수신IP"}
					        ,{data_id:"srcPort",label:"송신Port"}
					        ,{data_id:"dstPort",label:"수신Port"}
					        ,{data_id:"threatDetectionMethod",label:"탐지방식", data_grpCd:"THTY"}
					        ,{data_id:"detectionThreatName",label:"탐지 위험명"}
					        ,{data_id:"analysisResult",label:"정오탐판정",data_grpCd:"THRES"}
					        ,{data_id:"threatImportance",label: "위협중요도",data_grpCd:"THIM", data_class:"threat"}
					        ,{data_id:"detailBtn",label: "상세보기", data_cellType:"tdCCell" , data_btnNm:"상세보기"}
					       ];
		gridInit(tablewrap,headColumns);
		pageInit(document.querySelector(".page_nation"),searchFunc,page.rowPerPage);
        searchFunc();
    	
    }
    
    const searchFunc = (invoker) => {
    	pageSearch("/navyHmmIntro",document.querySelector(".tablewrap"),document.querySelector(".page_nation"),invoker,searchFunc,searchAfterFunc);
    	
    }
    
    const searchAfterFunc = (appendData) => {
    	//console.log("appendData:",appendData);
    	setStatus(appendData.statusInfo);
    	drawLineChart(appendData.threatStatusList);
    }
    
    const trncThreatAnalysisAfterFunc = () => {
    	settingThreatAnalysis.querySelector('.popClose').click();
    	searchFunc();
    }
    
    const setStatus = (data) => {
    	//console.log("setStatus data:",data);
       	let assetDetect = document.querySelector('.threatDetect');
    	assetDetect.innerHTML = '';
    	assetDetect.append(data.whiteDetect+data.aiDetect+data.signatureDetect);
    	let whiteDetect = document.querySelector('.whiteDetect');
    	whiteDetect.innerHTML = '';
    	whiteDetect.append(data.whiteDetect);
    	let aiDetect = document.querySelector('.aiDetect');
    	aiDetect.innerHTML = '';
    	aiDetect.append(data.aiDetect);
    	let signatureDetect = document.querySelector('.signatureDetect');
    	signatureDetect.innerHTML = '';
    	signatureDetect.append(data.signatureDetect);
    	let threatImportance = document.querySelector('.threatImportance');
    	let threatLis = threatImportance.querySelectorAll('li');
    	threatLis.forEach((li,index) => {
    		let strong = li.querySelector('strong');
    		strong.innerHTML = '';
    		if(li.classList.contains('high')){
    			strong.append(data.highPrior);
    		}
    		else if(li.classList.contains('middle')){
    			strong.append(data.middlePrior);
    		}
            else if(li.classList.contains('low')){
            	strong.append(data.lowPrior);
    		}
    	});
    }
    
    const drawLineChart = (chartData) => {
    	//console.log("drawLineChart1 chartData:",chartData);
    	let lineLabels = new Array();
    	let dataH = new Array();
    	let dataA = new Array();
    	let dataS = new Array();
    	chartData.forEach((chartItem,index) => {
    		if(chartItem.threat === 'H'){
    			lineLabels.push(chartItem.hm);
    			dataH.push(chartItem.cnt);
    	    }
    		else if(chartItem.threat === 'A'){
    			dataA.push(chartItem.cnt);
    		}
            else if(chartItem.threat === 'S'){
            	dataS.push(chartItem.cnt);
    		}
    	});
    	
    	const lineData = {labels: lineLabels,
    			          datasets: [{ label: ' 화이트리스',
    			                        data: dataH,//[65, 59, 80, 81, 56, 55, 40],
    			                        fill: false,
    			                        pointStyle: 'circle',
    			                        pointRadius: 4,
    			                        borderColor: 'rgb(75, 192, 192)',
    			                        backgroundColor: 'rgb(75, 192, 192)',
    			                        tension: 0.1
    			                    },
    			                    { label: ' 방화벽',
    			                        data: dataA,//'[35, 45, 65, 34, 53, 45, 57],
    			                        fill: false,
    			                        pointStyle: 'circle',
    			                        pointRadius: 4,
    			                        borderColor: 'rgb(75, 145, 78)',
    			                        backgroundColor: 'rgb(75, 145, 78)',
    			                        tension: 0.1
    			                    },
    			                    { label: ' IPS',
    			                        data: dataS,//[45, 52, 60, 71, 38, 23, 34],
    			                        fill: false,
    			                        pointStyle: 'circle',
    			                        pointRadius: 4,
    			                        borderColor: 'rgb(75, 89, 192)',
    			                        backgroundColor: 'rgb(75, 89, 192)',
    			                        //pointBorderColor: 'rgb(75, 89, 192)',
    			                        tension: 0.1
    			                    }
    			                    ]
    	                 };
    	
    	const config = { type: 'line',
    			         data: lineData,
    			         options: { responsive: true,
		    			        	animation: {
					        	         duration: 0
					        	    },
    			        	        scales: {
    			        	                 x: {
    			        	                	 ticks: {
    			        	                         color: 'black',
    			        	                	 },
    			        	                	
    			        	                 },
    			        	                 y: {
    			        	                	 ticks: {
    			        	                         color: 'black',
    			        	                     },
    			        	                     grid: {
    			        	                    	 color : 'rgb(90, 90, 90)',
    			        	                         display: true,
    			        	                         //drawOnChartArea: true,
    			        	                         //drawTicks: true,
    			        	                     }
    			        	                 }
    			        	             },
    			        	             
	    			        	    plugins: {legend: {
	    	       			    		      position: 'bottom',
	    	       			                  display: true,
	    	       			                  labels: legendOption/*{
	    	       			                	  usePointStyle: true,
	    	       			                	  color: legendColor,
	    	       			                	  padding : 30,
	    	       			                      font: {
	                                                size: 12,
	    	       		                          }
	    	       			                	// fill : true
	    	       			                  }*/
	    	       			           }
	    	       			      }
    			         },
    			        };
    	if(uiMode != 'white'){
    		config.options.scales.x.ticks.color = 'white';
        	config.options.scales.y.ticks.color = 'white';
        }
    	if(lineChart1!=null){
    		lineChart1.destroy();
	    }
    	lineChart1 = new Chart(document.getElementById('lineChart1').getContext("2d"),config);	  

    }
    
   
    
    const drawDataTrans = () => {
    	let lineLabels = new Array();
    	let transData = new Array();
    	gfn_asyncJsonCall('/dataTrans','GET').then((data) => {
   		   
 			let date = new Date(data.curTime);
 		    lineLabels.push(gfn_dateFrmt(date,'dd hh:mi:ss'));
 		    transData.push(0);
 			for (var idx = 0; idx < 60; idx++){
 				date.setSeconds(date.getSeconds() -1);
 				lineLabels.push(gfn_dateFrmt(date,'dd hh:mi:ss'));
 				transData.push(0);
 			}
 			let list = data['list'];
 			if(list != null && list != undefined){
	 			for(let key in list){
	 				let sec = parseInt(list[key].sec);
	 				let srcBytes = parseInt(list[key].srcBytes)*8;
	 				transData[sec] = srcBytes;
	 				
	 			}
 			}
	 		
	 		let lineDataSets = new Array();
		    let lineDataSet = {label: '송신',
				                data: transData,
				             fill: true,
				             pointStyle: 'circle',
				             pointRadius: 1,
				             borderColor: 'rgb(120, 120, 250)',
				             backgroundColor: 'rgb(120, 120, 205)',
				             tension: 0.1	
		    };
		    if(activeProfile === 'land' || activeProfile === 'hmmLand' || activeProfile === 'lnsystemLand' || activeProfile === 'lnsystemHmmLand'){
		    	lineDataSet.label = '수신';
		    	lineDataSet.borderColor = 'rgb(169, 139, 129)';
		    	lineDataSet.backgroundColor = 'rgb(225, 183, 113)';
		    }
		    
		    lineDataSets.push(lineDataSet);

	    	const lineData = {labels: lineLabels,
	    			          datasets: lineDataSets,
	    	                 };
	    	
	    	const config = { type: 'line',
	    			         data: lineData,
	    			         options: { responsive: true,
			    			        	animation: {
						        	         duration: 0
						        	    },
	    			        	        scales: {
	    			        	                 x: {
	    			        	                	 ticks: {
	    			        	                		callback: function(val, index) {
	    			        	                	            // Hide every 2nd tick label
	    			        	                	            return index % 6 === 0 ? this.getLabelForValue(val) : '';
	    			        	                	     },
	    			        	                         color: 'black',
	    			        	                	 },
	    			        	                	
	    			        	                 },
	    			        	                 y: {
	    			        	                	 ticks: {
	    			        	                         color: 'black',
	    			        	                     },
	    			        	                     grid: {
	    			        	                    	 color : 'rgb(90, 90, 90)',
	    			        	                         display: true,
	    			        	                         //drawOnChartArea: true,
	    			        	                         //drawTicks: true,
	    			        	                     }
	    			        	                 }
	    			        	             },
	    			        	             
		    			        	    plugins: {legend: {
		    	       			    		      position: 'bottom',
		    	       			                  display: true,
		    	       			                  labels: legendOption
		    	       			           }
		    	       			      }
	    			         },
	    			        };
	    	if(uiMode != 'white'){
	    		config.options.scales.x.ticks.color = 'white';
	        	config.options.scales.y.ticks.color = 'white';
	        }
	    	if(lineChart3!=null){
	    		lineChart3.destroy();
		    }
	    	lineChart3 = new Chart(document.getElementById('lineChart3').getContext("2d"),config);	 

	    });
 	 
        /*
 	    let lineDataSets = new Array();
	    let lineDataSet = {label: '송신',
			                data: transData,
			             fill: true,
			             pointStyle: 'circle',
			             pointRadius: 1,
			             borderColor: 'rgb(120, 120, 250)',
			             backgroundColor: 'rgb(120, 120, 205)',
			             tension: 0.1	
	    };
	    if(activeProfile === 'land' || activeProfile === 'hmmLand' || activeProfile === 'lnsystemLand' || activeProfile === 'lnsystemHmmLand'){
	    	lineDataSet.label = '수신';
	    	lineDataSet.borderColor = 'rgb(169, 139, 129)';
	    	lineDataSet.backgroundColor = 'rgb(225, 183, 113)';
	    }
	    
	    lineDataSets.push(lineDataSet);

    	const lineData = {labels: lineLabels,
    			          datasets: lineDataSets,
    	                 };
    	
    	const config = { type: 'line',
    			         data: lineData,
    			         options: { responsive: true,
		    			        	animation: {
					        	         duration: 0
					        	    },
    			        	        scales: {
    			        	                 x: {
    			        	                	 ticks: {
    			        	                		callback: function(val, index) {
    			        	                	            // Hide every 2nd tick label
    			        	                	            return index % 6 === 0 ? this.getLabelForValue(val) : '';
    			        	                	     },
    			        	                         color: 'black',
    			        	                	 },
    			        	                	
    			        	                 },
    			        	                 y: {
    			        	                	 ticks: {
    			        	                         color: 'black',
    			        	                     },
    			        	                     grid: {
    			        	                    	 color : 'rgb(90, 90, 90)',
    			        	                         display: true,
    			        	                         //drawOnChartArea: true,
    			        	                         //drawTicks: true,
    			        	                     }
    			        	                 }
    			        	             },
    			        	             
	    			        	    plugins: {legend: {
	    	       			    		      position: 'bottom',
	    	       			                  display: true,
	    	       			                  labels: legendOption
	    	       			           }
	    	       			      }
    			         },
    			        };
    	if(uiMode != 'white'){
    		config.options.scales.x.ticks.color = 'white';
        	config.options.scales.y.ticks.color = 'white';
        }
    	if(lineChart3!=null){
    		lineChart3.destroy();
	    }
    	lineChart3 = new Chart(document.getElementById('lineChart3').getContext("2d"),config);	 
    	*/

    }
    
    const detailFunc = (data) => {
    	setThreatAnalysis(data);
    }
    
    const popWhiteList = (data) => {
    	searchWhiteList();
    }
    
   
  

</script>
</th:block>
</html>
