<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>인덱스</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script> 
<script src="../../resources/static/js/front.js"></script>
<script type="text/javascript">

function getShow(){
	document.getElementById("mainSnbMenu").style.display = "block";
}

function getHide(){
	document.getElementById("mainSnbMenu").style.display = "none";
}

</script>

<link rel="stylesheet" href="../../resources/static/css/reset.css" />
<!--<link rel="stylesheet" href="../../resources/static/css/front-dark.css" />-->
<link rel="stylesheet" href="../../resources/static/css/front-light.css" />
</head>

<body class="app">
<header class="navbar bg-light">
	<div class="navbar-nav">
		<div class="nav-item"> <a href="#totalMenu" class="nav-link" onClick="getShow();"><span class="iconWrapT hambuger icon_total_menu"></span></a>
			<h1><span class="iconWrapT icon_sub_top"></span><strong>함정 사이버방호 체계</strong></h1>
		</div>
		<div class="snbMenuWrap" id="mainSnbMenu">
			<a href="javascript:;" class="btn_snbClose" onClick="getHide();"><span class="icon_snbClose"></span></a>
			<div class="snbMenu">
				<ul class="menu">
					<li class="list">
						<a href="javascript:;"><span class="iconWrapSnb icon_snb_01_02"></span><strong>관제정보</strong><span class="arrow"></span></a>
						<ul class="items">
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_02"></span><strong>사이버 위협 전시</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_03"></span><strong>자산상태 전시</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_04"></span><strong>기능 동작 전시</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_05"></span><strong>사용자 행위 정보 전시</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_06"></span><strong>네트워크 정비상태 전시</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_07"></span><strong>함내 자산 위치 전시</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_08"></span><strong>네트워크 토플로지 전시</strong></a></li>
						</ul>
					</li>
					<li class="list">
						<a href="javascript:;"><span class="iconWrapSnb icon_snb_01_03"></span><strong>관제보고서</strong><span class="arrow"></span></a>
						<ul class="items">
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_09"></span><strong>보고서 서식 관리</strong></a></li>
							<li><a href="javascript:;"><span class="iconWrapSnb icon_snb_02_10"></span><strong>보고서 스케줄 관리</strong></a></li>
						</ul>
					</li>
				</ul>
				
				
			</div>
		</div>
		<div class="nav-item"> <span>세션종료 00:09:21</span> <a href="javascript:;" class="btn small red">로그아웃</a></div>
	</div>
	<div class="navbar-location">
		<ul class="navigation">
			<li>Main</li>
			<li>Sub</li>
			<li>Page</li>
		</ul>
	</div>
</header>
<div class="sidebar">
	<div class="sidebar-inner">
		<ul class="sidebar-menu">
			<li class="nav-item"><a class="nav-link" href="javascript:;"><span class="iconWrapT favorite icon_favorite_01"></span> <span class="tooltip">기능 동작 전시</span></a></li>
			<li class="nav-item"><a class="nav-link" href="javascript:;"><span class="iconWrapT favorite icon_favorite_02"></span> <span class="tooltip">네트워크 토폴로지 전시</span></a></li>
			<li class="nav-item"><a class="nav-link" href="javascript:;"><span class="iconWrapT favorite icon_favorite_03"></span> <span class="tooltip">보고서 관리</span></a></li>
			<li class="nav-item"><a class="nav-link" href="javascript:;"><span class="iconWrapT favorite icon_favorite_04"></span> <span class="tooltip">보고서 스케줄 관리</span></a></li>
		</ul>
	</div>
</div>
<div class="container-wide">
	<div class="container">
		<div class="grid-row">
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">1함대 함정 상태</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#testscenario" class="btn medium lightgray btn-example">1함대 함정 상태 팝업</a> <!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">자산등록/수정</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#assetPop" class="btn medium lightgray btn-example">자산등록/수정 팝업</a><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">화이트리스트 정책설정</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#whiteList" class="btn medium lightgray btn-example">화이트리스트 정책설정 팝업</a><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">오탐탐지 예외처리</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#falsePositive" class="btn medium lightgray btn-example">오탐탐지 예외처리 팝업</a><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">이벤트알림</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#notice1" class="btn medium lightgray btn-example">이벤트알림 팝업1</a><br><br><a href="#notice2" class="btn medium lightgray btn-example">이벤트알림 팝업2</a><br><br><a href="#notice3" class="btn medium lightgray btn-example">이벤트알림 팝업3</a><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">보고서 서식등록</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#reportReg" class="btn medium lightgray btn-example">보고서 서식등록 팝업</a><!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">보고서 스케줄등록</h4>
					<div class="items mh"> <!-- item contnets // --><a href="#reportSchReg" class="btn medium lightgray btn-example">보고서 스케줄등록 팝업</a><!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-8">
				<div class="inner">
					<h4 class="item-title">시나리오별 매칭</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-2">
				<div class="inner">
					<h4 class="item-title">트랜잭션 현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">금일 채널현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">서비스별 처리현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">서비스별 분포</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">시나로오별 통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-6">
				<div class="inner">
					<h4 class="item-title">금일 채널현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">서비스별 분포</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">시나로오별 통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-9">
				<div class="inner">
					<h4 class="item-title">금일 채널현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-3">
				<div class="inner">
					<h4 class="item-title">시나로오별 통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-4">
				<div class="inner">
					<h4 class="item-title">TEST자동화 현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-4">
				<div class="inner">
					<h4 class="item-title">인텐트 예문통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-4">
				<div class="inner">
					<h4 class="item-title">엔티티 예문통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-4">
				<div class="inner">
					<h4 class="item-title">TEST자동화 현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-8">
				<div class="inner">
					<h4 class="item-title">엔티티 예문통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-6">
				<div class="inner">
					<h4 class="item-title">서비스 이용현황</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
			<div class="item-box col-6">
				<div class="inner">
					<h4 class="item-title">콜분석 통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-12">
				<div class="inner">
					<h4 class="item-title">회원가입 현황통계</h4>
					<div class="items mh"> <!-- item contnets // -->컨텐츠 삽입 영역<!-- // item contnets --> </div>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="item-box col-12">
				<div class="inner">
					<h4 class="item-title">회원가입 현황통계</h4>
				</div>
			</div>
		</div>
		<!--//Grid-->
	</div>
</div>
<footer class="footbar bg-light">
	<div class="footbar-nav">
		<div class="foot-item"> <span>&#8226; 접속계정 : <strong>admin(관리자)</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&#8226; 접속시간 : <strong>02:36:27</strong></span> </div>
		<div class="foot-item"> <span style="color:#ff0000">●</span> <strong>탭 스위치</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#66cc00">●</span> <strong>UTM</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#66cc00">●</span> <strong>L3 스위치</strong> </div>
	</div>
</footer>	
<!--전체메뉴 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="totalMenu" class="pop-layer xxxlarge"> 
		<!--Title-->
		<div class="Popup-title">
			<h3><strong>전체메뉴</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container"> 
			<!--Contens-->
			<div class="Popup-contents">
				<div class="totalMenu">
					<ul>
						<li class="depth1">
							<a href="javascript:;">기능동작전시</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">네트워크토폴로지</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">보고서 관리</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">보고서 스케줄 관리</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">사용자 감사</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">사이버 위협 전시</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">육상메인화면</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">자산관리</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">자산상태전시</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">함내자선위치전시</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">함정메인화면</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
						<li class="depth1">
							<a href="javascript:;">환경설정</a>
							<ul>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
								<li class="depth2"><a href="javascript:;">기능동작전시</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//modal popup--> 

<!--1함대 함정 상태 modal popup//-->
<div class="dim-layer">
<div class="dimBg"></div>
<div id="testscenario" class="pop-layer sssmall"> <!--20230407수정 ssmall에서 sssmall로 변경-->
<!--Title-->
<div class="Popup-title">
<h3><span class="iconWrapB icon_07_04"></span><strong>1함대 함정 상태</strong></h3>
<button class="icon-close">닫기</button>
</div>
<div class="Popup-container" style="padding: 10px"> <!--20230407추가 style="padding: 10px"-->
<!--Contens-->
<div class="Popup-contents">
<ul class="warshipWrap clfix">
<li><span class="iconWrapShip warship_black"></span><strong class="black">광개토대왕함</strong></li>
<li><span class="iconWrapShip warship_white"></span><strong class="white">양만춘함</strong></li>
<li><span class="iconWrapShip warship_green"></span><strong class="green">을지문덕함</strong></li>
<li><span class="iconWrapShip warship_red"></span><strong class="red">전연무함</strong></li>
</ul>
</div>
</div>
</div>
</div>
<!--//modal popup--> 

<!--자산등록/수정 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="assetPop" class="pop-layer ssmall"> 
		<!--Title-->
		<div class="Popup-title">
			<h3><span class="iconWrapB icon_08_01"></span><strong>자산등록/수정</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container"> 
			<!--Contens-->
			<div class="Popup-contents">
				<div class="assetWrap">
					<h4>자산정보</h4>
					<ul>
						<li>
							<label>
								<span>대분류</span>
								<select class="form-select">
									<option selected>네트워크</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>소분류</span>
								<select class="form-select">
									<option selected>방화벽</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>구역</span>
								<select class="form-select">
									<option selected>관제실</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span class="required">* 자산명</span>
								<input type="text" class="form-control" placeholder="방화벽">
							</label>
						</li>
						<li>
							<label>
								<span class="required">* IP주소</span>
								<input type="text" class="form-control" placeholder="192.168.0.120">
							</label>
						</li>
						<li>
							<label>
								<span class="required">* 관리자</span>
								<input type="text" class="form-control" placeholder="홍길동">
							</label>
						</li>
						<li>
							<label>
								<span>기밀성중요도</span>
								<select class="form-select">
									<option selected>상</option>
									<option value="0">중</option>
									<option value="1">하</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>무결성중요도</span>
								<select class="form-select">
									<option selected>상</option>
									<option value="0">중</option>
									<option value="1">하</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>가용성중요도</span>
								<select class="form-select">
									<option selected>상</option>
									<option value="0">중</option>
									<option value="1">하</option>
								</select>
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Popup-footer">
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_02"></span><strong>확인</strong></a>
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_04"></span><strong>닫기</strong></a>
		</div>
	</div>
</div>
<!--//modal popup--> 

<!--화이트리스트 정책설정 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="whiteList" class="pop-layer xxlarge"> 
		<!--Title-->
		<div class="Popup-title">
			<h3><strong>화이트 리스트 정책설정 팝업창(Whitelist)</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container"> 
			<!--Contens-->
			<div class="Popup-contents">
				<div class="tablewrap">
					<table>
						<thead>
							<tr>
								<th>정책명</th>
								<th>송신IP</th>
								<th>수신IP</th>
								<th>송신Port</th>
								<th>수신Port</th>
								<th>전송프로토콜</th>
								<th>정책</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td>화이트리스트</td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td>비인가IP탐지</td>
								<td><select class="form-select">
									<option selected>통과</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="Popup-footer">
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_07"></span><strong>저장</strong></a>
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_08"></span><strong>취소</strong></a>
		</div>
	</div>
</div>
<!--//modal popup--> 

<!--오탐탐지 예외처리 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="falsePositive" class="pop-layer xxlarge"> 
		<!--Title-->
		<div class="Popup-title">
			<h3><strong>오탐탐지 예외처리 팝업</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container"> 
			<!--Contens-->
			<div class="Popup-contents">
				<div class="tablewrap">
					<table>
						<thead>
							<tr>
								<th>분석결과</th>
								<th>송신IP</th>
								<th>수신IP</th>
								<th>송신Port</th>
								<th>수신Port</th>
								<th>조치결과</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
							<tr>
								<td><select class="form-select">
									<option selected>정탐</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
								<td>210.210.220.210</td>
								<td>210.210.220.105</td>
								<td>8500</td>
								<td>2100</td>
								<td><select class="form-select">
									<option selected>조치</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="Popup-footer">
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_07"></span><strong>저장</strong></a>
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_08"></span><strong>취소</strong></a>
		</div>
	</div>
</div>
<!--//modal popup--> 

<!--이벤트알림1 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="notice1" class="pop-layer-rb"> 
		<div class="Popup-title">
			<h3><span class="iconWrapB icon_13_01"></span><strong><em>보고서 생성</em> 알림</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container" style="padding: 0"> 
			<div class="Popup-contents2">
				<p>(보고서)가 발행되었습니다.<br>제목 : 사이버 위협 주간보고서<br>2023-02-23 10:49</p>
			</div>
		</div>
	</div>
</div>
<!--//modal popup-->

<!--이벤트알림2 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="notice2" class="pop-layer-rb"> 
		<div class="Popup-title">
			<h3><span class="iconWrapB icon_13_01"></span><strong><em>자산이상</em> 발생 알림</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container" style="padding: 0"> 
			<div class="Popup-contents2 orange">
				<p>(보고서)가 발행되었습니다.<br>제목 : 사이버 위협 주간보고서<br>2023-02-23 10:49</p>
			</div>
		</div>
	</div>
</div>
<!--//modal popup--> 

<!--이벤트알림3 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="notice3" class="pop-layer-rb"> 
		<div class="Popup-title">
			<h3><span class="iconWrapB icon_13_01"></span><strong><em>사이버 위협</em> 발생 알림</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container" style="padding: 0"> 
			<div class="Popup-contents2 red">
				<p>(보고서)가 발행되었습니다.<br>제목 : 사이버 위협 주간보고서<br>2023-02-23 10:49</p>
			</div>
		</div>
	</div>
</div>
<!--//modal popup-->

<!--보고서 서식등록 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="reportReg" class="pop-layer ssmall"> 
		<!--Title-->
		<div class="Popup-title">
			<h3><span class="iconWrapB icon_03_01"></span><strong>보고서 서식등록</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container"> 
			<!--Contens-->
			<div class="Popup-contents">
				<div class="assetWrap">
					<ul>
						<li>
							<label>
								<span>보고서명</span>
								<input type="text" class="form-control" placeholder="보고서명">
							</label>
						</li>
						<li>
							<label>
								<span>보고서형식</span>
								<select class="form-select">
									<option selected>상세보고서</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>구역</span>
								<select class="form-select">
									<option selected>관제실</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
					</ul>
					<ul class="topLine">
						<li>
							<label>
								<!--<span>&nbsp;</span>-->
								<div><input type="checkbox"> 자산분석</div>
							</label>
						</li>
						<li>
							<label>
								<!--<span>&nbsp;</span>-->
								<div><input type="checkbox"> 위험 분석 테이블</div>
							</label>
						</li>
						<li>
							<label>
								<span>그래프 형식</span>
								<select class="form-select">
									<option selected>시계열 브래프</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
					</ul>
					<ul class="topLine">
						<li>
							<label>
								<!--<span>&nbsp;</span>-->
								<div><input type="checkbox"> 위험분석</div>
							</label>
						</li>
						<li>
							<label>
								<!--<span>&nbsp;</span>-->
								<div><input type="checkbox"> 위험 분석 테이블</div>
							</label>
						</li>
						<li>
							<label>
								<span>그래프 형식</span>
								<select class="form-select">
									<option selected>시계열 브래프</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>위험등급</span>
								<select class="form-select">
									<option selected>전체</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Popup-footer">
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_09"></span><strong>확인</strong></a>
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_08"></span><strong>취소</strong></a>
		</div>
	</div>
</div>
<!--//modal popup--> 

<!--보고서 스케줄등록 modal popup//-->
<div class="dim-layer">
	<div class="dimBg"></div>
	<div id="reportSchReg" class="pop-layer ssmall"> 
		<!--Title-->
		<div class="Popup-title">
			<h3><span class="iconWrapB icon_04_01"></span><strong>보고서 스케줄등록</strong></h3>
			<button class="icon-close">닫기</button>
		</div>
		<div class="Popup-container"> 
			<!--Contens-->
			<div class="Popup-contents">
				<div class="assetWrap">
					<ul>
						<li>
							<label>
								<span>스케줄명</span>
								<input type="text" class="form-control" placeholder="스케줄명">
							</label>
						</li>
						<li>
							<label>
								<span>보고서서식</span>
								<select class="form-select">
									<option selected>자산분석 월간보고서</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>생성 시간</span>
								<input type="text" class="form-control" placeholder="10:00">
							</label>
						</li>
						<li>
							<label>
								<span>생성 주기</span>
								<select class="form-select">
									<option selected>월간</option>
									<option value="0">Zero</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</label>
						</li>
						<li>
							<label>
								<span>&nbsp;</span>
								<div><input type="checkbox"> 사용여부</div>
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Popup-footer">
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_09"></span><strong>확인</strong></a>
			<a href="javascript:;" class="btn medium darkblue"><span class="iconBtn icon_btn_08"></span><strong>취소</strong></a>
		</div>
	</div>
</div>
<!--//modal popup--> 
	
<script type="text/javascript">
var list = document.querySelectorAll('.list');
function accordion(e) {
	
  e.stopPropagation();
	
  if (this.classList.contains('active')) {
      this.classList.remove('active');
  } else
  if (this.parentElement.parentElement.classList.contains('active')) {
      this.classList.add('active');
  } else
  {
      for (i = 0; i < list.length; i++) {
          list[i].classList.remove('active');
      }
      this.classList.add('active');
	  
  }
}
for (i = 0; i < list.length; i++) {
  list[i].addEventListener('click', accordion);
}
</script>
</body>
</html>
	