@charset "utf-8";/* CSS Document */
body{color:#FFF}
a{color:#fff}
a:active, /* a:hover{color:#ed1c24} */
a.basic{color:#fff}
a.basic:active, a.basic:hover{color:#ea817b}
.app{ background:#130111}
.navbar{position:fixed;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:0px;top:0;left:0;right:0;height:100px;width:100%;border-bottom:10px solid #130111;z-index:99999}
.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;flex-flow:row nowrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;list-style:none;padding:0px 20px;width:100%;height:60px;position:relative;z-index:100}
.navbar-nav .nav-link{vertical-align:middle}
.navbar-nav .nav-link .icon-holder{border-radius:6px;display:inline-block;font-size:22px;height:34px;left:0;line-height:34px;margin-right:0px;position:relative;text-align:center;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;width:35px}

.navbar-nav h1{display:inline-block;margin-left:20px;font-size:22px;font-weight:bold;vertical-align:middle}
.navbar-nav h1 > strong{display:inline-block;vertical-align:middle}
.navbar-location{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;flex-flow:row nowrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;list-style:none;padding:0px 20px;width:100%;height:30px;background:#383e4e}
.navbar-location .navigation{display:inline-flex;align-content:flex-start;font-size:14px;font-weight:bold}
.navbar-location .navigation li{display:inline-block;padding:0 15px;line-height:20px;position:relative}
.navbar-location .navigation li:first-child{padding-left:5px}
.navbar-location .navigation li:first-child:after{display:none}
.navbar-location .navigation li:last-child{padding-right:2px}
.navbar-location .navigation li:after{content:' >';position:absolute;font-size:10px;color:#FFF;top:0px;left:-3px;width:10px;height:10px}

.footbar{position:fixed;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:0;left:0;right:0;bottom:0;height:70px;border-top:10px solid #130111}
.footbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;flex-flow:row nowrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:0px 20px;margin-bottom:0;list-style:none;width:100%}
.footbar-nav .foot-link{padding-right:10px;padding-left:10px}

.bg-light{background-color:#151a2d!important}
a.bg-light:focus,a.bg-light:hover,button.bg-light:focus,button.bg-light:hover{background-color:#cfd9db!important}
.container-wide{width:100%;height:100%;overflow:hidden;padding-left:70px;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;padding-top:100px;padding-bottom:70px}
.container{width:100%;height:100%;padding:0 5px;background:#130111;overflow:auto;margin:0 auto}

.container .sub-title-box{display:flex;flex-direction:row;flex-flow:row nowrap;justify-content:space-between;padding:10px 5px;width:100%}
.container .sub-title-box .title{display:inline-block;font-size:18px;font-weight:700;line-height:20px}

.grid-row{display:flex;width:100%;align-items:stretch;flex-direction:row;flex-wrap:nowrap;align-content:flex-start;justify-content:flex-start;min-width:1800px}
.grid-row:first-child .item-box{padding-top:0px}
.grid-row:last-child .item-box{padding-bottom:0px}
.grid-row .item-box{display:inline-flex;padding:5px}
.grid-row .item-box .inner{display:block;width:100%;background:#151a2d;/* border:1px solid #e5e5e5;border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,0.05)*/}
.grid-row .item-box .inner .item-title{display:block;padding:10px;font-size:15px;font-weight:700;text-align:left;border-bottom:1px solid #090c17;position:relative}
.grid-row .item-box .inner .item-title > strong{display:inline-block;vertical-align:middle}
.grid-row .item-box .inner .item-title .setting{ position:absolute;top:9px;right:0px;overflow:hidden;text-align:left;text-indent:-999999px}
.grid-row .item-box .inner .items{position:relative;display:block;padding:10px;overflow:auto}
.grid-row .item-box .inner .items.dashtop{padding:10px 10px;}
.grid-row .item-box .inner .items.mh{min-height:200px}
.grid-row .item-box .inner .items .imgWrap{display:block}
.grid-row .item-box .inner .items .imgWrap img{display:block;width:100%}
.grid-row .item-box .inner .items.minH{min-height:200px}


/*.Popup-container .grid-row .item-box .inner{background:#fafafa;border:1px solid #e5e5e5}
.Popup-container .grid-row .item-box .inner .item-title{background:#f2f2f2}*/

.col-1{width:8.33%}
.col-2{width:16.66%}
.col-20{width:20%}
.col-22{width:22.55%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-64{width:53.2%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-86{width:86.50%}
.col-12{width:100%}

a{text-decoration:none}
.sidebar{bottom:70px;/*overflow:hidden;*/position:fixed;top:100px;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;width:70px;background-color:#151a2d;color:#fff;z-index:9999;/*box-shadow:5px 0px 5px 0px #130111;*/ padding-top:20px}
.sidebar ul{list-style-type:none}
.sidebar-inner{position:relative;height:100%}

.sidebar-menu{height:calc(100vh - 65px);list-style:none;margin:0;/*overflow:auto;*/padding:0;position:relative}
.sidebar-menu .sidebar-link.actived:before{background:#0f9aee;border-radius:50%;content:"";display:block;height:8px;left:-4px;position:absolute;top:calc(50% - 4px);width:8px}
.sidebar-menu > li{position:relative}
.sidebar-menu > li > a{color:#fff;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.sidebar-menu > li > a:focus, .sidebar-menu > li > a:hover{color:#fff;text-decoration:none;background-color:#383e4e}
.sidebar-menu > li > a{display:block;font-size:15px;padding:15px 22px;position:relative;white-space:nowrap}
.sidebar-menu > li > a > .tooltip{display:none;position:absolute;left:60px;top:10px;padding:10px 20px;background:#fff;color:#000;border-radius:5px}
.sidebar-menu > li > a > .tooltip::before{content:" ";position:absolute;top:12px;left:-5px;margin-left:-5px;border-width:5px;border-style:solid;border-color:transparent #fff transparent transparent}
.sidebar-menu > li > a:hover > .tooltip{display:inline-block}

.float-left{float:left !important}
.float-right{float:right !important}
.float-none{float:none !important}

/* Button */
.btnWrap{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:5px 0;width:100%}
.btn{display:inline-block;text-align:center;white-space:nowrap;word-wrap:normal;word-break:normal}

/* Button Size */
.btn.ssmall{padding:0 9px;font-size:11px;line-height:16px;border-radius:5px;font-weight:700}
.btn.small1{padding:0 12px; margin:0px; font-size:13px;line-height:22px;border-radius:5px;font-weight:700}
.btn.small1 > strong{display:inline-block;vertical-align:middle;line-height:22px}
.btn.small{padding:0 12px;font-size:12px;line-height:22px;border-radius:5px;font-weight:700}
.btn.small > strong{display:inline-block;vertical-align:middle;line-height:22px}
.btn.medium{padding:0 15px;font-size:13px;line-height:32px;border-radius:5px;font-weight:700}
.btn.medium > strong{display:inline-block;vertical-align:middle;line-height:32px}
.btn.large{padding:0 18px;font-size:14px;line-height:40px;border-radius:5px;font-weight:700}
.btn.xlarge{padding:0 21px;font-size:15px;line-height:48px;border-radius:5px;font-weight:700}

.btn.board{padding:0 15px;line-height:28px;border-radius:2px}
.btn.brdronone{border-radius:0 !important}

/* Button Color */
.btn.orange{background:#ff7100;border:1px solid #f65a05;color:white}
.btn.blue{background:#51b6dd;border:1px solid #40a1c7;color:white}
.btn.green{background:#7fb50f;color:white}
.btn.white{background:#FFF;border:1px solid #b8b8b8;color:#333;box-shadow:0px 1px 3px 0px lightgray}
.btn.gray{background:#aba79e;border:1px solid #aba79d;color:white}
.btn.brown{background:#8f805f;border:1px solid #8f805f;color:white}
.btn.lightgray{background:#eee;border:1px solid #d7d7d7;color:#303030}
.btn.white:hover, .btn.white:focus{background-color:#fbfbfb;border:1px solid #a6a6a6}
.btn.darkblue{background:#4d525e;border:1px solid #4d525f;color:#FFF}
.btn.purple{background:#8065a5;border:1px solid #6a4f8f;color:#FFF}
.btn.blue2{background:#4094f0;border:1px solid #3082dd;color:white}
.btn.white2{background:#FFF;border:1px solid #4d4d4d;color:#333}
.btn.red{background:#cf2a27;border:1px solid #cf2a27;color:#FFF}

/* .btn-example{position:absolute;left:50%;top:50%;margin:-17px 0 0 -42px} */
.pop-layer-rb{width:300px;display:none;position:absolute;right:10px;bottom:10px;background:#242b3d;border:1px solid #333333 !important;border-radius:7px !important;z-index:99999999;box-sizing:border-box !important;/*overflow:hidden;*/box-shadow:0px 0px 10px rgba(0,0,0,0.1)}
.dim-layer .pop-layer-rb{display:block}

/* .btn-example{position:absolute;left:50%;top:50%;margin:-17px 0 0 -42px} */
.pop-layer{display:none;position:absolute;top:50%;left:50%;background:#242b3d;border:1px solid #333333 !important;border-radius:7px !important;z-index:99999999;box-sizing:border-box !important;/*overflow:hidden;*/box-shadow:0px 0px 10px rgba(0,0,0,0.1)}
.pop-layer.chattext{position:relative;padding-bottom:80px !important;display:block;width:100%}
.dim-layer{display:none;position:absolute;align-items:center;justify-content:center;top:0;left:0;width:100%;height:100%;z-index:9999999}
.dim-layer .dimBg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50)}
.dim-layer .pop-layer{display:block}

.pop-layer.ssssmall{width:130px;min-height:140px;/*margin:-100px 0 0 -150px*/}
.pop-layer.sssmall{width:230px;min-height:200px;/*margin:-100px 0 0 -150px*/}
.pop-layer.ssmall{width:300px;min-height:200px;/*margin:-100px 0 0 -150px*/}
.pop-layer.small{width:400px;min-height:230px;/*margin:-150px 0 0 -200px*/}
.pop-layer.h-small{width:400px;min-height:340px;/*margin:-270px 0 0 -200px*/}
.pop-layer.h2-small{width:400px;min-height:250px;/*margin:-225px 0 0 -200px*/}
.pop-layer.medium{width:500px;min-height:300px;/*margin:-200px 0 0 -250px*/}
.pop-layer.large{width:600px;min-height:400px;/*margin:-250px 0 0 -300px*/}
.pop-layer.xlarge{width:800px;min-height:500px;/*margin:-320px 0 0 -400px*/}
.pop-layer.xxlarge{width:1000px;min-height:600px;/*margin:-320px 0 0 -400px*/}
.pop-layer.xxxlarge{width:1200px;min-height:600px;/*margin:-320px 0 0 -400px*/}
.pop-layer.xxxxlarge{width:1600px;min-height:600px;/*margin:-320px 0 0 -400px*/}

.Popup-title{height:50px !important;padding:0px 20px !important;border-bottom:1px solid #151a2d;position:relative;background:#151a2d}
.Popup-title .icon-close{position:absolute;top:18px !important;right:20px !important;margin:0 !important;display:inline-block;width:17px;height:17px;background:url(../img/icon/dark/btn_modal_close.png) no-repeat 0 0;border:none;overflow:hidden;text-align:left;text-indent:-9999px}
.Popup-title h3{font-size:16px;line-height:50px;font-weight:700;color:#FFF;display:inline-block}
.Popup-title h3 em{color:blue;text-decoration:underline;font-style:normal}
.Popup-title .version{display:inline-block;margin-left:20px;background:transparent;border:none;padding:10px;transform:rotate(-0.03deg)}
.Popup-container{/*overflow:auto !important;*/padding:20px;color:#FFF;/*max-height:540px !important*/}

.Popup-contents{min-height:42px;/* overflow:hidden;*/}
.Popup-contents2{min-height:42px;/*overflow:hidden;*/ padding:20px;text-align:center;line-height:1.5}
.Popup-contents2.red{background:red;color:#FFF}
.Popup-contents2.orange{background:orange;color:#FFF}
.Popup-contents .inner-text{min-height:42px;line-height:1.5;padding-bottom:20px;word-break:keep-all}
.Popup-contents .inner-text1{min-height:30px;line-height:1.5;padding-bottom:5px;word-break:keep-all;font-weight:bold}
.Popup-contents .inner-text .agree_text{padding:0px;font-size:13px;line-height:2}
.Popup-contents .inner-text a{color:#1552CD;text-decoration:underline}
.Popup-tenantArea .Button + .Button{margin-left:0}
.Popup-contents .Button-large a[class^="button-"]{display:table;width:453px;height:70px;margin-bottom:5px}
.Popup-contents .Button-large .inner{display:table-cell;vertical-align:middle}
.Popup-contents .Button-large .tit{display:block;margin-bottom:5px;font-size:13px;text-align:center}
.Popup-contents .Button-large .note{display:block;text-align:center}
.Popup-contents .Button-large .Button-solid{background:#5160b5;color:#fff}
.Popup-contents .Button-large .Button-solid:hover{background:#4d5bac}
.Popup-contents .Button-large .Button-solid .note{opacity:0.7}
.Popup-contents .Button-large .Button-line{background:#fff;border:1px solid #c8cacc}
.Popup-contents .Button-large .Button-line:hover{background:#f4f4f5}
.Popup-contents .Button-large .Button-line .note{color:#919699}
.Popup-contents .GridStateBar{padding-top:4px !important;padding-bottom:0;height:25px;line-height:14.7px;margin-bottom:0}
.Popup-contents .Popup-table{margin-bottom:20px}
.Popup-contents .Popup-table th{vertical-align:top;padding-top:8px;text-align:left}
.Popup-contents .Popup-table td{padding-bottom:20px}
.Popup-contents .Popup-table td span{padding-top:6px;display:inline-block}
.Popup-contents .Popup-table td .SearchBox-searchArea{padding-top:0 !important}
.Popup-contents .Popup-table.ty01{margin-bottom:0}
.Popup-contents .Popup-table.ty01 td{padding-bottom:10px}
.Popup-contents .messageContent{ min-height: 50px; text-align: center} 
.success{color:#ffffff; }
.fail{ color:#ff0000;}


.Popup-footer{padding:10px 20px !important;border-top:1px solid #151a2d;position:relative;background:#242b3d;text-align:right}
.Popup-footer.ac{text-align: center !important}

.Popup-buttonArea{position:absolute;left:0;bottom:0;width:100%}
.Popup-buttonArea .aichatbox{display:flex;width:100%;padding:15px 20px;border-top:3px solid #e5e5e5;height:80px;align-items:center;background:#f7f7f7}
.Popup-buttonArea .aichatbox .userText{display:inline-flex;height:100%;outline:none;/*overflow:auto;*/font-size:14px;font-weight:700;line-height:18px;width:100%;border:none;background:transparent;padding:0px;resize:none}
.Popup-buttonArea .aichatbox .sendBtn{display:inline-flex;flex:0 0 62px;align-items:center;justify-content:center;height:44px;line-height:44px;font-weight:700;transform:rotate(-0.03deg);text-align:center;background:#364b7a;border:1px solid #364b7a;color:#FFF;border-radius:3px}

.tablewrap table{border:1px #130111 solid;width:100%;border-collapse:collapse;overflow:hidden}
.tablewrap thead tr{font-weight:bold;color:#fff;background:#151a2d}
.tablewrap tbody tr:nth-child(even){background-color:#151a2d}
.tablewrap tbody tr:nth-child(odd){background-color:#242b3d}
.tablewrap tbody tr.trSelect{background-color:#003366}
.tablewrap tbody tr:hover{background-color:#5A78AF}
.tablewrap th{font-weight:bold;text-align:center;border-left:1px solid rgba(0,0,0,1);border-right:1px solid rgba(0,0,0,1);border-bottom:1px solid rgba(0,0,0,1);padding:14px 8px;vertical-align:middle;white-space:nowrap}
.tablewrap td{text-align:center;border-left:1px solid rgba(0,0,0,1);border-right:1px solid rgba(0,0,0,1);padding:8px;vertical-align:middle;white-space:nowrap;height:43px}
.tablewrap td .threat-high{display:inline-block;text-align:center;min-width:26px;height:26px;padding:0 5px;color:#FFF;background:#ff0000;border-radius:13px;line-height:26px;font-weight:bold}
.tablewrap td .threat-middle{display:inline-block;text-align:center;min-width:26px;height:26px;padding:0 5px;color:#FFF;background:#ff8000;border-radius:13px;line-height:26px;font-weight:bold}
.tablewrap td .threat-low{display:inline-block;text-align:center;min-width:26px;height:26px;padding:0 5px;color:#000;background:#ffcc00;border-radius:13px;line-height:26px;font-weight:bold}
.tablewrap a{color:#FFF}

.page_wrap{text-align:center;font-size:0;padding:20px 0}
.page_nation{display:inline-block}
.page_nation .none{display:none}
.page_nation a{display:block;margin:0 3px;float:left;border:1px solid #130111;width:32px;height:32px;line-height:30px;text-align:center;background-color:#151a2d;font-size:14px;color:#FFF;text-decoration:none}
.page_nation .arrow{border:1px solid #130111}
.page_nation .pprev{background:#151a2d url('../img/page_pprev.png') no-repeat center center;margin-left:0}
.page_nation .prev{background:#151a2d url('../img/page_prev.png') no-repeat center center;margin-right:7px}
.page_nation .next{background:#151a2d url('../img/page_next.png') no-repeat center center;margin-left:7px}
.page_nation .nnext{background:#151a2d url('../img/page_nnext.png') no-repeat center center;margin-right:0}
.page_nation a.active{background-color:#242b3d;color:#fff;order:1px solid #130111}

.schwrap{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:0;width:100%}
.schwrap ul{/*display:inline-block*/}
.schwrap ul li{display:inline-block;padding-right:20px;text-align:right}
.schwrap ul li label{display:block;flex-direction:column;flex-flow:column}
.schwrap ul li .selectWrap{display:block;flex-direction:column;flex-flow:column;position:relative}
.schwrap ul li label .form-control,.schwrap ul li label .form-select{min-width:160px}
.form-control{display:inline-block;height:calc(1.5em + 0.75rem + 2px);padding:0.375rem 0.75rem;margin:5px 0;line-height:1.5;color:#ccc;background-color:rgba(255,255,255,0.1);background-clip:padding-box;border:1px solid #6c707b;border-radius:0.375rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out}
.form-select{display:inline-block;padding:0.375rem;line-height:1.5;color:#ccc;background-color:rgba(255,255,255,0.1);border:1px solid #6c707b;border-radius:0.375rem;margin:5px 0}

.dataNum{font-size:80px;font-weight:bold;color:orange;padding:10px 0 20px 0;margin-top: 25px}

.assetNormal{font-size:60px;font-weight:bold;color:green;padding:10px 0 20px 0;margin-top: 25px;}

.defenseStep{display:block;text-align:center;padding-top:50px}
.defenseStep ul{display:inline-block}
.defenseStep ul li{display:inline-block;float:left;padding:2px}
.defenseStep ul li > span{display:inline-block;padding:8px 8px 10px 8px;font-size:18px;font-weight:bold;color:#000;background:#FFA500;border:2px solid #000;border-radius:3px}
.defenseStep ul li > span.step{background:#FF0004;color:#FFF}

.eventRatingPop{display:block;text-align:center;padding:15px}
.eventRatingPop ul{display:inline-block}
.eventRatingPop ul li{display:inline-block;float:left;padding:2px}
.eventRatingPop ul li > span{display:inline-block;padding:3px 5px;font-size:28px;font-weight:bold}
.eventRatingPop ul li > strong{display:inline-block;padding:3px 5px;font-size:28px;font-weight:bold}
.eventRatingPop ul li.high{color:red}
.eventRatingPop ul li.middle{color:orange}
.eventRatingPop ul li.low{color:yellow}

.eventNumPop{display:block;text-align:center;padding:15px}
.eventNumPop ul{display:inline-block}
.eventNumPop ul li{display:inline-block;float:left;padding:2px;color:#FFF}
.eventNumPop ul li > span{display:inline-block;padding:3px 5px;font-size:28px;font-weight:normal}
.eventNumPop ul li > strong{display:inline-block;padding:3px 5px;font-size:28px;font-weight:bold}

.threatImportance{display:block;text-align:center;padding-top:0px}
.threatImportance ul{display:inline-block}
.threatImportance ul li{display:flex;align-items: center; justify-content: space-between; width: 100%; flex-wrap:wrap;padding:2px}
.threatImportance ul li > span{display:block;padding:6px 20px;font-size:32px;font-weight:bold}
.threatImportance ul li > strong{display:block;padding:6px 20px;font-size:42px;font-weight:bold}
.threatImportance ul li.high{color:red}
.threatImportance ul li.middle{color:orange}
.threatImportance ul li.low{color:yellow}

.eventRating{display:block;text-align:center;padding:20px 15px 20px 15px}
.eventRating ul{display:inline-block}
.eventRating ul li{display:flex;padding:2px;align-items: center; justify-content: space-between; width: 100%; flex-wrap:wrap;}
.eventRating ul li > span{display:block;padding:6px 20px;font-size:32px;font-weight:bold}
.eventRating ul li > strong{display:block;padding:6px 20px;font-size:42px;font-weight:bold}
.eventRating ul li.high{color:red}
.eventRating ul li.middle{color:orange}
.eventRating ul li.low{color:yellow}

.eventNum{display:block;text-align:center;padding:10px 15px 25px 15px; margin-top: 20px}
.eventNum ul{display:inline-block}
.eventNum ul li{display:inline-block;float:left;padding:2px;color:#FFF}
.eventNum ul li > span{display:block;padding:6px 20px;font-size:40px;font-weight:normal}
.eventNum ul li > strong{display:block;padding:6px 30px;font-size:80px;font-weight:bold}



.warshipWrap{display:block}
.warshipWrap li{display:inline-block;float:left;width:50%;text-align:center;padding:5px 0}
.warshipWrap li > strong{display:block;padding:0 10px;line-height:1.5;font-size:12px}
.warshipWrap li > strong.black{color:black}
.warshipWrap li > strong.white{color:#c6cad0}
.warshipWrap li > strong.green{color:green}
.warshipWrap li > strong.red{color:red}

.iconWrapSnb{display:inline-block;width:18px;height:18px;text-align:center;margin-right:10px;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.iconWrapT{display:inline-block;width:24px;height:24px;text-align:center;margin-right:10px;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.iconWrapT.hambuger{margin-right:0px;margin-left:3px}
.iconWrapT.favorite{margin-right:0px}
.iconWrapB{display:inline-block;width:18px;height:18px;text-align:center;margin-right:10px;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.iconWrapS{display:inline-block;width:14px;height:14px;text-align:center;margin-right:10px;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.iconBtn{display:inline-block;width:14px;height:14px;text-align:center;margin-right:5px;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.iconBtn1{display:inline-block;width:14px;height:14px;text-align:center;margin-right:5px;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.iconWrapShip{display:inline-block;width:32px;height:32px;text-align:center;margin:0 auto;vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}

.icon_sub_top{background-image:url("../img/icon/dark/icon_sub_top.png")}
.icon_total_menu{background-image:url("../img/icon/dark/icon_total_menu.png")}
.icon_01_01{background-image:url("../img/icon/dark/icon_01_01.png")}
.icon_01_02{background-image:url("../img/icon/dark/icon_01_02.png")}
.icon_02_01{background-image:url("../img/icon/dark/icon_02_01.png")}
.icon_02_02{background-image:url("../img/icon/dark/icon_02_02.png")}
.icon_02_03{background-image:url("../img/icon/dark/icon_02_03.png")}
.icon_03_01{background-image:url("../img/icon/dark/icon_03_01.png")}
.icon_04_01{background-image:url("../img/icon/dark/icon_04_01.png")}
.icon_05_01{background-image:url("../img/icon/dark/icon_05_01.png")}
.icon_06_01{background-image:url("../img/icon/dark/icon_06_01.png")}
.icon_06_02{background-image:url("../img/icon/dark/icon_06_02.png")}
.icon_06_03{background-image:url("../img/icon/dark/icon_06_03.png")}
.icon_06_04{background-image:url("../img/icon/dark/icon_06_04.png")}
.icon_07_01{background-image:url("../img/icon/dark/icon_07_01.png")}
.icon_07_02{background-image:url("../img/icon/dark/icon_07_02.png")}
.icon_07_03{background-image:url("../img/icon/dark/icon_07_03.png")}
.icon_07_04{background-image:url("../img/icon/dark/icon_07_04.png")}
.icon_08_01{background-image:url("../img/icon/dark/icon_08_01.png")}
.icon_09_01{background-image:url("../img/icon/dark/icon_09_01.png")}
.icon_09_02{background-image:url("../img/icon/dark/icon_09_02.png")}
.icon_09_03{background-image:url("../img/icon/dark/icon_09_03.png")}
.icon_09_04{background-image:url("../img/icon/dark/icon_09_04.png")}
.icon_10_01{background-image:url("../img/icon/dark/icon_10_01.png")}
.icon_10_02{background-image:url("../img/icon/dark/icon_10_02.png")}
.icon_11_01{background-image:url("../img/icon/dark/icon_11_01.png")}
.icon_11_02{background-image:url("../img/icon/dark/icon_11_02.png")}
.icon_11_03{background-image:url("../img/icon/dark/icon_11_03.png")}
.icon_11_04{background-image:url("../img/icon/dark/icon_11_04.png")}
.icon_11_05{background-image:url("../img/icon/dark/icon_11_05.png")}
.icon_11_06{background-image:url("../img/icon/dark/icon_11_06.png")}
.icon_11_07{background-image:url("../img/icon/dark/icon_11_07.png")}
.icon_11_08{background-image:url("../img/icon/dark/icon_11_08.png")}
.icon_11_09{background-image:url("../img/icon/dark/icon_11_09.png")}
.icon_11_10{background-image:url("../img/icon/dark/icon_11_10.png")}
.icon_12_01{background-image:url("../img/icon/dark/icon_12_01.png")}
.icon_13_01{background-image:url("../img/icon/dark/icon_13_01.png")}
.icon_btn_01{background-image:url("../img/icon/dark/icon_btn_01.png")}
.icon_btn_02{background-image:url("../img/icon/dark/icon_btn_02.png")}
.icon_btn_03{background-image:url("../img/icon/dark/icon_btn_03.png")}
.icon_btn_04{background-image:url("../img/icon/dark/icon_btn_04.png")}
.icon_btn_05{background-image:url("../img/icon/dark/icon_btn_05.png")}
.icon_btn_06{background-image:url("../img/icon/dark/icon_btn_06.png")}
.icon_btn_07{background-image:url("../img/icon/dark/icon_btn_07.png")}
.icon_btn_08{background-image:url("../img/icon/dark/icon_btn_08.png")}
.icon_btn_09{background-image:url("../img/icon/dark/icon_btn_09.png")}
.icon_list{background-image:url("../img/icon/dark/icon_list.png")}
.icon_search{background-image:url("../img/icon/dark/icon_search.png")}
.icon_reset{background-image:url("../img/icon/dark/icon_reset.png")}
.icon_setting{background-image:url("../img/icon/dark/icon_setting.png")}
.icon_favorite_00{background-image:url("../img/icon/dark/icon_favorite_00.png")}
.icon_favorite_01{background-image:url("../img/icon/dark/icon_favorite_01.png")}
.icon_favorite_02{background-image:url("../img/icon/dark/icon_favorite_02.png")}
.icon_favorite_03{background-image:url("../img/icon/dark/icon_favorite_03.png")}
.icon_favorite_04{background-image:url("../img/icon/dark/icon_favorite_04.png")}

.icon_snb_01_01{background-image:url("../img/icon/dark/icon_snb_01_01.png")}
.icon_snb_01_02{background-image:url("../img/icon/dark/icon_snb_01_02.png")}
.icon_snb_01_03{background-image:url("../img/icon/dark/icon_snb_01_03.png")}
.icon_snb_02_01{background-image:url("../img/icon/dark/icon_snb_02_01.png")}
.icon_snb_02_02{background-image:url("../img/icon/dark/icon_snb_02_02.png")}
.icon_snb_02_03{background-image:url("../img/icon/dark/icon_snb_02_03.png")}
.icon_snb_02_04{background-image:url("../img/icon/dark/icon_snb_02_04.png")}
.icon_snb_02_05{background-image:url("../img/icon/dark/icon_snb_02_05.png")}
.icon_snb_02_06{background-image:url("../img/icon/dark/icon_snb_02_06.png")}
.icon_snb_02_07{background-image:url("../img/icon/dark/icon_snb_02_07.png")}
.icon_snb_02_08{background-image:url("../img/icon/dark/icon_snb_02_08.png")}
.icon_snb_02_09{background-image:url("../img/icon/dark/icon_snb_02_09.png")}
.icon_snb_02_10{background-image:url("../img/icon/dark/icon_snb_02_10.png")}
.icon_snb_02_11{background-image:url("../img/icon/dark/icon_snb_02_11.png")}
.icon_snb_02_12{background-image:url("../img/icon/dark/icon_snb_02_12.png")}
.icon_snb_02_13{background-image:url("../img/icon/dark/icon_snb_02_13.png")}

.icon_enlargement2{background-image:url("../img/icon/icon_enlargement2.png")}/*20230627추가*/
.icon_reduction2{background-image:url("../img/icon/icon_reduction2.png")}/*20230627추가*/
.icon_movement2{background-image:url("../img/icon/icon_movement2.png")}/*20230627추가*/
.icon_addition2{background-image:url("../img/icon/icon_addition2.png")}/*20230627추가*/
.icon_delete2{background-image:url("../img/icon/icon_delete2.png")}/*20230627추가*/
.icon_correction2{background-image:url("../img/icon/icon_correction2.png")}/*20230627추가*/
.icon_select2{background-image:url("../img/icon/icon_select2.png")}/*20230627추가*/

.warship_black{background-image:url("../img/icon/dark/warship_black.png")}
.warship_white{background-image:url("../img/icon/dark/warship_white.png")}
.warship_green{background-image:url("../img/icon/dark/warship_green.png")}
.warship_red{background-image:url("../img/icon/dark/warship_red.png")}

.assetInfo_serverFF{background-image:url("../img/serverFF.png")}
.assetInfo_server00{background-image:url("../img/server00.png")}
.assetInfo_server01{background-image:url("../img/server01.png")}
.assetInfo_server03{background-image:url("../img/server02.png")}
.assetInfo_server05{background-image:url("../img/server03.png")}
.assetInfo_server10{background-image:url("../img/server10.png")}
.assetInfo_server11{background-image:url("../img/server11.png")}
.assetInfo_server13{background-image:url("../img/server12.png")}
.assetInfo_server15{background-image:url("../img/server13.png")}

.assetInfo_terminalFF{background-image:url("../img/terminalFF.png")}
.assetInfo_terminal00{background-image:url("../img/terminal00.png")}
.assetInfo_terminal01{background-image:url("../img/terminal01.png")}
.assetInfo_terminal03{background-image:url("../img/terminal02.png")}
.assetInfo_terminal05{background-image:url("../img/terminal03.png")}
.assetInfo_terminal10{background-image:url("../img/terminal10.png")}
.assetInfo_terminal11{background-image:url("../img/terminal11.png")}
.assetInfo_terminal13{background-image:url("../img/terminal12.png")}
.assetInfo_terminal15{background-image:url("../img/terminal13.png")}

.assetInfo_networkFF{background-image:url("../img/networkFF.png")}
.assetInfo_network00{background-image:url("../img/network00.png")}
.assetInfo_network01{background-image:url("../img/network01.png")}
.assetInfo_network03{background-image:url("../img/network02.png")}
.assetInfo_network05{background-image:url("../img/network03.png")}
.assetInfo_network10{background-image:url("../img/network10.png")}
.assetInfo_network11{background-image:url("../img/network11.png")}
.assetInfo_network13{background-image:url("../img/network12.png")}
.assetInfo_network15{background-image:url("../img/network13.png")}

.assetInfo_securityFF{background-image:url("../img/securityFF.png")}
.assetInfo_security00{background-image:url("../img/security00.png")}
.assetInfo_security01{background-image:url("../img/security01.png")}
.assetInfo_security03{background-image:url("../img/security02.png")}
.assetInfo_security05{background-image:url("../img/security03.png")}
.assetInfo_security10{background-image:url("../img/security10.png")}
.assetInfo_security11{background-image:url("../img/security11.png")}
.assetInfo_security13{background-image:url("../img/security12.png")}
.assetInfo_security15{background-image:url("../img/security13.png")}


.settingBtn{display:block;background:#172d44;padding:5px}
.settingBtn li{display:inline-block;float:left;padding:5px}
.settingBtn li > a{display:block;padding:10px;background-color:#4d525e;color:#FFF;border:1px solid #353a45;border-radius:5px}
.settingBtn li > a.active{display:block;padding:10px;background-color:#0066cc;color:#FFF;border:1px solid #353a45;border-radius:5px}
.iconSetting{display:inline-block;width:24px;height:24px;background-size:cover;background-position:center center;background-repeat:no-repeat;text-align:left;overflow:hidden;text-indent:-9999px}
.icon_enlargement{background-image:url("../img/icon/icon_enlargement.png")}
.icon_reduction{background-image:url("../img/icon/icon_reduction.png")}
.icon_movement{background-image:url("../img/icon/icon_movement.png")}
.icon_addition{background-image:url("../img/icon/icon_addition.png")}
.icon_delete{background-image:url("../img/icon/icon_delete.png")}
.icon_correction{background-image:url("../img/icon/icon_correction.png")}
.icon_select{background-image:url("../img/icon/icon_select.png")}
.canvasWrap{display:block;background:#172d44}
.canvasWrap > img{width:100%}

.assetWrap{display:block}
.assetWrap > h4{display:block;padding-bottom:15px;border-bottom:1px solid #000;margin-bottom:15px}
.assetWrap > ul{display:block;padding-bottom:10px}
.assetWrap > ul:last-child{display:block;padding-bottom:0px}
.assetWrap > ul.topLine{ border-top:1px solid #151a2d;padding-top:10px}
.assetWrap > ul > li{display:block;padding:0;position:relative}
.assetWrap.tfpositive > ul > li{display:inline-block; float: left; padding:0;position:relative; width: 50%;}
.assetWrap > ul > li > .selectWrap{display:flex;width:100%;align-items:center;flex-flow:row;justify-content:space-between}
.assetWrap > ul > li > label{display:block;line-height:34px}
.assetWrap > ul > li > label .message{display:none}
.assetWrap > ul > li > label.error{padding-bottom:20px; position: relative}
.assetWrap > ul > li > label.error .message{display: inline-block; position: absolute;top:36px; right: 0; width: 160px; height: 20px; line-height: 20px;color: #ff6600; font-size: 11px; font-style: normal}
.assetWrap > ul > li > label.error input{border:1px solid #ff6600}
.assetWrap > ul > li > label::after{content:"";clear:both;;display:block}
.assetWrap > ul > li > label > span{display:inline-block;width:98px;float:left;line-height:40px;}
.assetWrap.tfpositive > ul > li > label > span{display:inline-block;width:105px;float:left;line-height:40px;}
.assetWrap > ul > li > label > span.required{color:#ff6600}
.assetWrap > ul > li > label > select,.assetWrap > ul > li > label > input{display:block;margin-left:98px;width:160px}
.assetWrap.tfpositive > ul > li > label > textarea{display:block;margin-top:10px; width: 440px; height: 100px; border: 1px solid #c2c2c2; background: #fafafa; padding: 10px; line-height: 1.5;border-radius: 5px;}

.settingWrap{display:block}
.settingWrap .setting{display:block;margin-bottom:20px}
.settingWrap .setting:last-child{display:block;margin-bottom:0px}
.settingWrap .setting dt{display:block;padding-bottom:10px}
.settingWrap .setting dd{display:block;padding:10px;border:1px solid #151a2d}
.settingWrap .setting dd li{display:inline-block;float:left;width:25%;padding:5px 0}
.settingWrap .setting dd li.option{display:block !important;padding:8px 5px;text-align:left !important;color:#ffffff;float: none !important;width: 100% !important}
.settingWrap .setting dd .ratingBox{margin:10px 0;border:1px solid #151a2d; padding: 10px}

.totalMenu{display:block}
.totalMenu > ul{display:flex;flex-flow:row wrap;justify-content:center;align-content:center;align-items:stretch}
.totalMenu > ul > li{display:block;flex-flow:row wrap}
.totalMenu > ul > li.depth1{ padding:5px 0;width:16.66666666666667% }
.totalMenu > ul > li > a{display:block;line-height:36px;font-weight:bold;font-size:16px}
.totalMenu ul li a{display:block;line-height:36px;width:100%}
.totalMenu > ul > li > ul{padding:5px 5px 5px 10px;display:block;width:100%}
.totalMenu > ul > li > ul > li{padding-left:16px;position:relative;display:block;width:100%}
.totalMenu > ul > li > ul > li::before{content:"-";position:absolute;left:0;top:8px}

.snbMenuWrap{ position:absolute;top:0px;left:0;display:none}
.snbMenu{width:300px;background:#151a2d;padding:10px 0}
.snbMenu ul{display:block}
.snbMenu ul li{display:block;padding:0}
.snbMenu ul li ul{display:none}
.snbMenu ul li ul li{display:block;padding-left:30px}
.snbMenu ul li.active ul{display:block;background:#242b3d}
.snbMenu ul li p,.snbMenu ul li a{display:block;padding:10px 25px;position:relative}
.snbMenu ul li a strong{display:inline-block;padding:0;line-height:24px;vertical-align:middle}
.snbMenu ul li a .arrow{ position:absolute;top:15px;right:20px;width:14px;height:14px;display:inline-block;background:url("../img/icon/dark/icon_snb_02_11.png");vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.snbMenu ul li.active a .arrow{position:absolute;top:15px;right:20px;width:14px;height:14px;display:inline-block;background:url("../img/icon/dark/icon_snb_02_12.png");vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}
.btn_snbClose{display:inline-block;width:70px;height:60px;padding:18px 23px;background:#151a2d}
.btn_snbClose .icon_snbClose{width:24px;height:24px;display:inline-block;background:url("../img/icon/dark/icon_total_menu_close.png");vertical-align:middle;background-size:cover;background-position:center center;background-repeat:no-repeat}

input[type="text"]{background:#2d3242;color:#ffffff;border:1px solid #6c707b;}

input[type="datetime-local"]{background:#2d3242;outline:none;color:#ffffff;border:1px solid #6c707b;}
::-webkit-calendar-picker-indicator{background-color:#a0a0a0;padding:5px;cursor:pointer;border-radius:3px;}

.multiselect{display:inline-block;position:relative;z-index:100;margin:5px 0;vertical-align:middle}
.selectBox{min-width:160px;position:relative;margin:0;padding:0;z-index:0;max-height: 190px;overflow: auto}
.selectBox select{width:100%;font-weight:bold;display:inline-block;padding:0.375rem;line-height:1.5;background:#2d3242;border:1px solid #6c707b;color:#FFF;border-radius:0.375rem;z-index:0}
.selectBox .selected .selected-value{width:160px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-left:5px}
.overSelect{position:absolute;left:0;right:0;top:0;bottom:0;z-index:200}
.checkboxes{position:absolute;left:0;top:36px;display:none;width:100%;text-align:left;border:1px solid #6c707b;color:#FFF;z-index:100;border-radius:0.375rem;max-height: 190px;overflow: auto}
.checkboxes label{display:block;line-height:1.5;padding:5px;color:#ffffff;background-color:#2d3242;cursor:pointer}
.checkboxes label:hover{background-color:#1e90ff}
.select{min-width:160px;position:relative;display:inline-block;vertical-align:middle}
.select .selected{position:relative;width:100%;font-weight:bold;display:inline-block;padding:0.315rem;line-height:1.5;background:#2d3242;border:1px solid #6c707b;color:#FFF;border-radius:0.375rem;margin:5px 0}
.select .selected .selected-value{width:100%;text-align:left}
.select .selected .arrow{position:absolute;top:0;right:5px;width:15px;height:33px;background:url("../img/icon/dark/btn_select_arrow.png") center center no-repeat}
.select ul li,
.select .selected .selected-value{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-left:5px}
.select ul{width:160px;display:none;position:absolute;left:1px;top:40px;background:#2d3242;border:1px solid #6c707b;color:#FFF;border-radius:0.375rem;margin:1px 0 0 -1px;cursor:pointer;padding:5px;max-height: 190px;overflow: auto}
.select.active ul{display:block;z-index:999999}
.select ul li{display:block !important;padding:8px 5px;text-align:left !important;color:#ffffff;background-color:#2d3242}
.select ul li:hover{background-color:#1e90ff}
.multiselect .selected{min-width:160px;font-weight:bold;display:inline-block;padding:0.315rem;line-height:1.5;background:#2d3242;border:1px solid #6c707b;color:#FFF;border-radius:0.375rem}
.multiselect .selected .selected-value{text-align:left;padding-left:5px}
.multiselect .selected .arrow{position:absolute;top:0;right:5px;width:15px;height:33px;background:url("../img/icon/dark/btn_select_arrow.png") center center no-repeat}

.treeBox{}
.treeBox.modalpop{height:450px;overflow:auto}

.listBox{}
.listBox ul{padding-left:20px}
.listBox ul li{padding:5px 0}

.treejs{-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px}
.treejs *:after,
.treejs *:before{-webkit-box-sizing:border-box;box-sizing:border-box}
.treejs > .treejs-node{padding-left:0}
.treejs .treejs-nodes{list-style:none;padding-left:20px;overflow:hidden;-webkit-transition:height 150ms ease-out, opacity 150ms ease-out;-o-transition:height 150ms ease-out, opacity 150ms ease-out;transition:height 150ms ease-out, opacity 150ms ease-out}
.treejs > .treejs-node{padding-left:0}
.treejs .treejs-node{cursor:pointer;overflow:hidden;padding:5px 0}
.treejs .treejs-node.treejs-placeholder{padding-left:20px}
.treejs .treejs-node.treejs-placeholder:hover{background-color:#5A78AF}
/*
.treejs .treejs-switcher{display:inline-block;vertical-align:middle;width:20px;height:20px;cursor:pointer;position:relative;-webkit-transition:-webkit-transform 150ms ease-out;-o-transition:transform 150ms ease-out;transition:transform 150ms ease-out}
.treejs .treejs-switcher:before{position:absolute;top:8px;left:6px;display:block;content:' ';border:5px solid transparent;border-top:5px solid rgba(255, 255, 255, 1);-webkit-transition:border-color 150ms;-o-transition:border-color 150ms;transition:border-color 150ms}
.treejs .treejs-switcher:hover:before{border-top:5px solid #FF0000}
.treejs .treejs-node__close > .treejs-switcher{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}
*/
.treejs .treejs-switcher{display:inline-block;vertical-align:middle;width:20px;height:20px;cursor:pointer;position:relative;background:url("../img/icon/dark/folder-open.png") center left no-repeat;background-size:18px 18px}
.treejs .treejs-node__close > .treejs-switcher{background:url("../img/icon/dark/folder.png") center left no-repeat;background-size:17px 17px}

.treejs .treejs-node__close > .treejs-nodes{height:0}
.treejs .treejs-checkbox{display:inline-block;vertical-align:middle;width:20px;height:20px;cursor:pointer;position:relative}
.treejs .treejs-checkbox:before{-webkit-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;cursor:pointer;position:absolute;top:2px;content:' ';display:block;width:16px;height:16px;border:1px solid #d9d9d9;border-radius:2px}
/*.treejs .treejs-node__halfchecked > .treejs-checkbox:before{background-color:#1890ff;border-color:#1890ff}*/
.treejs .treejs-node__halfchecked > .treejs-checkbox:after{position:absolute;content:' ';display:block;top:9px;left:3px;width:10px;height:2px;background-color:#fff}
/*.treejs .treejs-node__checked > .treejs-checkbox:before{background-color:#1890ff;border-color:#1890ff}*/
.treejs .treejs-node__checked > .treejs-checkbox:after{position:absolute;content:' ';display:block;top:4px;left:5px;width:5px;height:9px;border:2px solid #fff;border-top:none;border-left:none;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.treejs .treejs-label{vertical-align:middle;width:100%}
.treejs .treejs-label.on{color:var(--tab-fonth);background:var(--tab-bg-act);transition:0.3s}
.treejs .treejs-label.on{background:#5A78AF}
.displayNone{display:none !important}
.hidden{visibility:hidden !important}

.shipConditionDisplay{display:block;text-align:left}
.shipConditionDisplay ul{display:block;}
.shipConditionDisplay li{display:inline-block;float:left;padding:10px 0; width: 6.666666666666667%; text-align: center}
.shipConditionDisplay li > div{display:inline-block;width:100px;height:100px;border-radius:50%;border:0px solid #000;text-align:center;padding:20px; margin: 0 auto}
.shipConditionDisplay li > div.merchant .iconShip{display:inline-block;width:30px;height:30px;text-align:center;margin:0 auto;background-size:cover;background-position:center center;background-repeat:no-repeat}
.shipConditionDisplay li > div.merchant.normal .iconShip{background-image:url("../img/icon/normal_merchant.png")}
.shipConditionDisplay li > div.merchant.abnormal .iconShip{background-image:url("../img/icon/abnormal_merchant.png")}
.shipConditionDisplay li > div.lng .iconShip{display:inline-block;width:30px;height:30px;text-align:center;margin:0 auto;background-size:cover;background-position:center center;background-repeat:no-repeat}
.shipConditionDisplay li > div.lng.normal .iconShip{background-image:url("../img/icon/normal_lng.png")}
.shipConditionDisplay li > div.lng.abnormal .iconShip{background-image:url("../img/icon/abnormal_lng.png")}
.shipConditionDisplay li > div.normal{background:#ff9900}
.shipConditionDisplay li > div.normal p{display:block;text-align:center;color:#000;font-weight:bold;padding-top:10px;font-size:12px}
.shipConditionDisplay li > div.abnormal{background:#cc0000}
.shipConditionDisplay li > div.abnormal p{display:block;text-align:center;color:#fff;font-weight:bold;padding-top:10px;font-size:12px}

.right a.active{background-color:#0066cc;color:#fff;order:1px solid #130111}
