@charset "utf-8";
/* CSS Document */
/**
 * Minified by jsDelivr using clean-css v4.2.1.
 * Original file: /npm/font-kopub@1.0.2/kopubdotum.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */

*{box-sizing:border-box}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address,
cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header,
menu, nav, section, time, mark, audio, video, details, summary{margin:0;padding:0;border:0;font-size:100%;font-weight:normal;vertical-align:baseline;background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block}	
html{height:100%; overflow: hidden}
body{height:100%;font-size:14px;line-height:1;font-family:"Malgun Gothic", "맑은고딕",  "굴림", Gulim, '돋움', Dotum, Arial, Verdana, sans-serif, AppleGothic;font-weight: 300;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin:0;;overflow: hidden;/*transform:rotate(-0.03deg);*/}
h1, h2, h3, h4, h5, h6{font-weight:normal}
a{text-decoration:none;}
a:active, a:hover{}
a.basic{text-decoration:underline;}
a.basic:active, a.basic:hover{text-decoration:underline}

table{table-layout:auto;width:100%;border-spacing:0;font-size:inherit;/* border-collapse:collapse*/}
caption{overflow:hidden;width:0;visibility:hidden;font-size:0;line-height:0;height:0;text-indent:-9999px}
:root caption{overflow:hidden;width:0;visibility:hidden;font-size:0;line-height:0;height:0;display:none}
input, select, button, textarea{font-size:13px;font-family:"Malgun Gothic", "맑은고딕",  "굴림", Gulim, '돋움', Dotum, Arial, Verdana, sans-serif, AppleGothic;font-weight: 300;}
button{background:none;border:0;margin:0;padding:0;cursor:pointer}
button img{display:block}
legend{overflow:hidden;position:absolute;left:-1000%;height:0}
img{vertical-align:top;max-width:100%;border:0}
object, embed{max-width:100%}
strong{font-weight:600}	
ul,li{list-style:none}	

/* Temp */
.db{display:block}
.of{overflow:hidden}
.w100{width:100% !important}
.clfix:after{content:"";display:block;height:0px;clear:both;visibility:hidden}
* html .clfix{height:0%} /* Hides from IE-mac */
	
/* Align */
.ac{text-align:center !important}
.ar{text-align:right !important}
.al{text-align:left !important}
.fl{float:left}
.fr{float:right}
.vt *{vertical-align:top !important}
.vm *{vertical-align:middle !important}	
